body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  background-image: url(/galaxia\ 1.jpg);

}

.contenedor {
  
  width: 500px;
  height: 350px;
  margin: 100px auto;
  padding: 150px;
  text-align: center;
  background-color: #5ea6cf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
}

input[type="text"] {
  padding: 10px;
  font-size: 20px;
  width: 70%;
  background-color: rgb(135, 195, 13);
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#datosClima {
  margin-top: 20px;
  font-size: 18px;
}